h5py==2.8.0
Keras==2.2.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
librosa==0.6.1
matplotlib==2.2.2
musdb==0.2.3
museval==0.2.0
numpy==1.14.5
numpydoc==0.6.0
pandas==0.23.1
pandocfilters==1.4.1
pyaml==17.12.1
PySoundFile==0.9.0.post1
python-dateutil==2.7.3
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
sklearn==0.0
SoundFile==0.10.2
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-tensorboard==1.5.0
